* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

:root {
  --color-primario: #012232;
  --color-secundario: #eeeeee;
  --fuente-default: "Baloo Da 2", serif;
  --ancho-default: 966px;
  --border-default: 1px solid var(--color-primario);
  --border-secundario: 1px solid var(--color-secundario);
  --filtro-color-primario: invert(10%) sepia(58%) saturate(2088%)
    hue-rotate(171deg) brightness(93%) contrast(105%);
}

html{
  font-family: var(--fuente-default);
} 

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container{
  position:fixed;
  height: 50px;
  background-color: var(--color-primario);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.nav{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-secundario);
}
.registrarse,.iniciar-sesion{
  cursor:pointer;
  transition: all 0.2s ease-in-out;
  padding: 1%;
  border-radius: 5px;
}
.iniciar-sesion{
  border: var(--border-secundario); 
}

.registrarse:hover,
.iniciar-sesion:hover{
  background-color: var(--color-secundario);
  color:var(--color-primario);
}

.banner{
  width: 100%;
  /* height: 200px; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2% 5%;
  background-color: var(--filtro-color-primario);
}
.banner h2{
  font-size: 1.5em;
  cursor:pointer;
}
.banner-img{
  width: 20%;
}

.banner-socials{
  width: 10%;
}

.banner-socials:hover{
  cursor: pointer;
}

.episodios{
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.episodios img{
  width: 30%;
  padding: 3%;
  border: var(--border-default);
}

.footer{
  background-color: var(--color-primario);
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h3{
  width: 60%;
  padding: 3% 0;
  text-align: center;
  background-color: var(--color-secundario);
}